/BlockChain/node_server/node_modules/*
/BlockChain/node_server/.vscode/*
/Server_new/backend/node_modules/*
/BlockChain/truffle/node_modules/*
/BlockChain/truffle/build/contracts/*
/Server_new/backend/node_modules/